#grid {
  max-width: 1060px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  font-size: 16px;
}
th,
td {
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  text-align: left;
}
th:first-child,
td:first-child {
  padding-left: 20px;
}

.postContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 70px 30px;
  line-height: 1.7;
  font-size: 1rem;
  font-family: Lato, Roboto, sans-serif;
}

#sponsorGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 1fr;
}

@media (min-width: 655px) {
  #sponsorGrid {
    grid-template-columns: auto auto auto auto auto auto;
  }
}

@media (min-width: 960px) {
  .postContainer {
    padding: 50px 120px;
  }
  .pageContent {
    padding: 50px 120px;
  }
}

#h1 {
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
#h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  font-weight: 600;
}

#h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0px;
}
