html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: Lato, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

#gridFrontPage {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr;
  margin-top: 30px;
  grid-gap: 25px;
}

ul li {
  font-size: 16px;
}

a {
  color: #3c5a99;
  text-decoration: none;
}

#coverButton {
  margin-left: auto;
  margin-right: auto;
}

#coverBtnLink {
  color: white;
  margin-right: 10px;
  margin-top: 20px;
  border-width: 1.7px;
  border-style: solid;
  border-color: #354f87;
  border-radius: 18px;
  background-color: rgba(60, 90, 153, 0.7);
}

#coverBtnLink:hover {
  border-color: white;
}

#blogBtnLink {
  color: #3c5a99;
  margin-right: 10px;
  margin-top: 20px;
  border-width: 1.7px;
  border-style: solid;
  border-color: #3c5a99;
  border-radius: 18px;
}

#blogBtnLink:hover {
  border-color: #3c5a99;
  background-color: rgba(2, 119, 189, 0.07);
}

@media (min-width: 960px) {
  #coverButton {
    margin-left: auto;
    margin-right: inherit;
  }
  #gridFrontPage {
    grid-template-columns: auto auto;
  }

  .colorBigScreen {
    background-color: rgba(60, 90, 153, 0.07) !important;
  }
  .card {
    padding: 15px;
  }
}

@media (max-width: 960px) {
  .colorSmallScreen {
    background-color: rgba(60, 90, 153, 0.07) !important;
  }
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

p {
  line-height: 1.7;
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
}

details summary {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

#gridFrontPage .MuiTouchRipple-root {
  width: 0px !important;
  height: 0px !important;
}

.quote {
  padding-left: 7rem;
  position: relative;
}

.quote::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 5rem;
  height: 3px;
  background: #cd3744;
  z-index: 9;
}

#blogInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 24px;
}
