.headerLink {
  text-decoration: none;
  color: white;
}

.smlHeaderLink {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: white;
}

@media (max-width: 655px) {
  #appBarBig {
    display: none;
  }
}

@media (min-width: 655px) {
  #appBarSmall {
    display: none;
  }
}
